<div class="container">
  <h1>My Stats</h1>
  <% if any_rounds? %>
    <table>
      <% @round_stats.each do |round, value| %>
        <tr>
          <th>Round</th>
          <th>Correct</th>
          <th>Incorrect</th>
          <th>Total</th>
          <th>Percentage</th>
        </tr>
        <tr>
          <td><%= round %></td>
          <td><%= value[:correct] %></td>
          <td><%= value[:incorrect] %></td>
          <td><%= value[:total] %></td>
          <td><%= "#{value[:percentage]}%" %></td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <p>You haven't played any rounds yet!</p>
    <a href="/">Go Play!</a>
  <% end %>
</div>
