<div class="header">
  <h2>My Profile</h2>
</div>

<div class="container">
  <br>

  <a href="/">Back to Play</a><br><br>
  <p>Name: <%= @current_user.name%><br>
  Email: <%= @current_user.email%><br>
  <a href="/users/<%= @current_user.id %>/edit">Edit Info</a></p>
</div>

<div class="border margin-top"></div>

<div class="container">
  <h3>My Stats</h3>
  <% if any_rounds? %>
    <table>
      <% @round_stats.each do |round, value| %>
        <tr>
          <th>Deck</th>
          <th>Round</th>
          <th>Correct</th>
          <th>Incorrect</th>
          <th>Total</th>
          <th>Percentage</th>
        </tr>
        <tr>
          <td><%= value[:deck] %></td>
          <td><%= round %></td>
          <td><%= value[:correct] %></td>
          <td><%= value[:incorrect] %></td>
          <td><%= value[:total] %></td>
          <td><%= "#{value[:percentage]}%" %></td>
          <td><%= value[:completeness] %></td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <p>You haven't played any rounds yet!</p>
  <% end %>
</div>
