<div class="container">
  <h1>Guessers Galore!</h1>
  <p>Make a Guess</p>

  <table class="formtable">
    <form id="target" action="/deck/result" method="post">
      <%= Round.card_in_play.definition %><br>
      <input id='real-answer'type="hidden" name="real_answer" value="<%= Round.card_in_play.term %>" /><br>
      <% @possible_answers.shuffle.each do |possible_answer| %>
      <input type="radio" name="option" value="<%= possible_answer %>" > <%= possible_answer %>
      <br/><br/>
      <% end %>

      <tr id="submit-deck-button">
        <td>
          <input class='large-button'type='submit' value='Submit Guess'/>
        </td>
        <td>
          <a class="large-button" href="/deck">Deck List</a>
        </td>
      </tr>
    </form>

    <div id='result-table'>
      <form id= "guess-result" action="/deck/<%= @deck_name %>" method="post">
        <input class='large-button'type='submit' value='Next'/>
      </form>
      <div>
        <p id='result'></p>
        <p>You Guessed:</p>
        <p class='tabbed'><span id='user_guess'></span></p>
        <p>Correct Answer:</p>
        <p class='tabbed'><span id='real_answer'></span></p>
      </div>

    </div>

  </table>
</div>
